<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %> 
    <main>
        <ul class="lista-de-prueba">
            <% locals.cursos.forEach(curso => { %>
                <li>
                    <p>
                        El curso <%= curso.titulo %> vale $<%= curso.precio %>
                        <a href="/courses/<%= curso.id %>">Ver</a> |
                        <a href="/courses/<%= curso.id %>/edit">Editar</a> |
                        <form action="/courses/<%= curso.id %>?_method=DELETE" method="post">
                            <input type="submit" value="Eliminar">
                        </form>
                    </p>
                </li>
            <% }) %>
        </ul>

        <a href="/courses/create">Agregar Curso</a>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>