<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
        <link href="/CSS/detail.css" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="containerDetail">
                <div>
                    <img src="/img/imgproductDetail.png" alt="Imagen salud" class="imgDetail">
                </div>

                <div class="totalDescription">
                    <div class="tituloDetail">
                        <h1><%= nombre.titulo %> </h1>
                    </div>
                    <div class="descripcionDetail">
                        <p><%= nombre.descripcion %></p>
                        <p class="admCurse">
                            Persona que ofrece el curso
                        </p>    
                    </div>
                    <div class="cursePrice">
                        <p class="num"><%= nombre.precio %></p>
                        <p class="ofer">en 12 cuotas de $ 330</p>
                    </div>
                    <div class="botonCartDetail">
                        <a href="#"><p class ="addcart">agregar al carrito</p></a>
                        <!-- <button><i class="fa-solid fa-cart-shopping"></i></button> -->
                    </div>
                    <div class="actulization">
                        <p>Actualizado en septiembre de 2022, cantidad de clases, cantidad de horas </p>
                    </div>
                    <div>
                        <p class="preg">Preguntas y respuestas</p>
                        <textarea name="Su pregunta" id="pregunta" class="areaPreg"></textarea>
                        <p class="ENVIAR">
                            <input type="submit" value="ENVIAR" class="enviarBoton"></input>
                        </p>
                    </div>
                </div>
             </div>   
        </main>

        <%- include('./partials/footer') %>


</body>

</html>