<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/productStyle.css" rel="stylesheet">
</head>

<body>

    <body>
        <%- include('./partials/header') %> 

        <main>
            <% if(dueño == 0){ %>
            <div class="titulos">
                <h1>Curso de Categoria</h1>
                <h3>Cursos para dar tus primeros pasos</h3>
            </div>
            <div class="menu">
                <div class="items" id="primero">
                    <span>Mas populares</span>
                </div>
                <div class="items">
                    <span>Novedades</span>
                </div>
                <div class="items">
                    <span>Para ti</span>
                </div>
                <div class="items">
                    <span>Tendencias</span>
                </div>
            </div>
            <% } %>
            <div>&nbsp;</div>
            <div class="cursos">
                <% if(dueño == 0){ %>
                    <% for( let i = 0; i <cursos.length; i++ ) { %>
                        <article>
                            <div class="imagen">
                                <img src="/img/products/<%= cursos[i].imagen %> "alt="">
                            </div>
                            <div class="descripcion">
                                <h4><%=cursos[i].titulo%> </h4>
        
                                <p class="palabrasClaves"><%=cursos[i].descripcion%></p>
                                <div class="descripcion2">
                                    <h3>Metodos de enseñansa</h3>
                                    <p><%=cursos[i].tipoDeEnsenianza%> </p>
                                    <h3>Que aprenderas</h3>
                                    <p><%=cursos[i].descripcionQueAprenderas%> </p>
                                    <h3>Al completarlo</h3>
                                    <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla blabla bla bla bla bla bla v ( la idea es que esto algun dia se cuando se despligue el articulo</p>
                                </div>
                                <p class="dueño">Por Lucio</p>
                                <span class="fecha"><%=cursos[i].actualizacion%></span>
                                <span class="valoracion">5.9 <i class="fa-solid fa-bolt"></i></span>
                                <span class="cantidadAlumnos">499 <i class="fa-solid fa-address-book"></i></span>
                                <span class="duracion"><%=cursos[i].duracion%> <i class="fa-solid fa-clock"></i></span>
                                <span class="precio"><i class="fa-solid fa-hand-holding-dollar"></i> <%=cursos[i].precio%></span>
                                <button class="agregarCarritoList"><span>Agregar al Carrito</span><i class="fa-solid fa-cart-shopping"></i></button>
                                <!-- <i class="fa-solid fa-chevron-right desplegador"></i> -->

                                
                            </div>
                        </article>
                        <% } %>
                <% }else{ %>
                    <% for( let i = 0; i <cursos.length; i++ ) { %>
                        <article>
                            <div class="imagen">
                                <img src="/img/products/<%= cursos[i].imagen %> "alt="">
                            </div>
                            <div class="descripcion">
                                <h4><%=cursos[i].titulo%> </h4>
        
                                <p class="palabrasClaves"><%=cursos[i].descripcion%></p>
                                <div class="descripcion2">
                                    <h3>Metodos de enseñansa</h3>
                                    <p><%=cursos[i].tipoDeEnsenianza%> </p>
                                    <h3>Que aprenderas</h3>
                                    <p><%=cursos[i].descripcionQueAprenderas%> </p>
                                    <h3>Al completarlo</h3>
                                    <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla blabla bla blabla bla bla bla bla bla v ( la idea es que esto algun dia se cuando se despligue el articulo</p>
                                </div>
                                <p class="dueño">Por Lucio</p>
                                <span class="fecha"><%=cursos[i].actualizacion%></span>
                                <span class="valoracion">5.9 <i class="fa-solid fa-bolt"></i></span>
                                <span class="cantidadAlumnos">499 <i class="fa-solid fa-address-book"></i></span>
                                <span class="duracion"><%=cursos[i].duracion%> <i class="fa-solid fa-clock"></i></span>
                                <span class="precio"><i class="fa-solid fa-hand-holding-dollar"></i> <%=cursos[i].precio%></span>
                                <button class="agregarCarritoList"><span>Ver Detalle</span><i class="fa-solid fa-cart-shopping"></i></button>
                                <!-- <i class="fa-solid fa-chevron-right desplegador"></i> -->
                                <form method="POST"  id="formulario" action="/products/delete/<%= cursos[i].id %>/?_method=DELETE">
                                   
                                    <button class="eliminarList"><i class="fa-solid fa-xmark"></i></button>
                                </form>
                                <form method="GET"  id="formulario" action="/products/<%= cursos[i].id %>/editar">
                                    <input type="text"  name="titulo" id="id" value=<%= cursos[i].id %>>
                                    <button class="editarProducto"><i class="fa-solid fa-pen-to-square"></i></button>
                                </form>
                                
                            </div>
                        </article>
                        <% } %>
                <% } %>
            </div>
            <div>&nbsp;</div>
        </main>

        <%- include('./partials/footer') %> 

        
    </body>
</body>

</html>