<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/partHead') %>
</head>
<body>
    <%- include('./partials/header') %> 

    <div class="MainXd">
        <div class="contenedorReg">
            <div class="title">Inicia sesion</div>
            <form action="/users/login" id="formulario" method="POST">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details"> Email</span>
                        <input type="text" name="email" placeholder="Email" required>
                        <% if (locals.errors && errors.email) { %>
                            <p class="msg-error"><%= errors.email.msg%></p>
                        <% } %>
                    </div>
                    <div class="input-box">
                        <span class="details"> Contraseña</span>
                        <input type="password" name="password" placeholder="Contraseña" required>
                        <% if (locals.errors && errors.password) { %>
                            <p class="msg-error"><%= errors.password.msg%></p>
                        <% } %>
                    </div>
                </div>

                <div class="button-inicioses">
                    <input class="button-inicioSesion" type="submit" value="Iniciar sesion">
                </div>
            </form>
        </div>
    </div>

    <%- include('./partials/footer') %> 
</body>
</html>