<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/partHead') %>
        <link href="/css/profile.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('./partials/header') %>

        <div class="profile">
            <div class="contenedorProfile">
                <div class="menu">
                    <div class="tituloMenu">
                        <p class="titulodelMenu">Mi Perfil</p>
                    </div>
                    <div class="opciones">

                        <div class="opcionCerrarSesion"><a href="http://localhost:3000/users/loginout">Cerrar sesion</a></div>

                        <div class="opcion"><a href="http://localhost:3023/users/editar">Editar perdil</a></div>
                        <div class="opcion"><a href="http://localhost:3023/products/mi">Mis cursos</a></div>
                        <div class="opcion"><a href="http://localhost:3023/products/create">Agregar Curso</a></div>
                        <div class="opcion"><a href="http://localhost:3023/users/loginout">Cerrar sesion</a></div>

                    </div>
                </div>
                <div class="todoProfile">
                    <div class="infoUser">
                        <div class="prim">
                            <div class="imgPerfil">
                                <img id="imagenP" src="../img/users/<%= user.imagen %>" alt="">
                            </div>
                            <div class="contenedorDerecho">
                                
                                <div class="nombre"><%= user.nombreYApellido %></div>
                                <div class="datoPerfil"><%= user.email %></div>
                            </div>
                        </div>
                        <div class="seg">
                            
                            
                            <p>Fecha de nacimiento : <%= user.fechaDeNacimiento %></p>
                            <% if (user.domicilio) { %>
                            <p>Domicilio : <%= user.domicilio %></p>
                            <p>Domicilio : <%= user.descripcion %></p>
                            
                            <% } %>
                        </div>

                        <!-- opcion: poner una seccion con los cursos que ofrece el usuario(si es que ofrece) -->

                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer') %>
</body>

</html>

<!-- <div class="main">
    <div class="profile">
        <div class="imgNombre">
            <img id="imagen" src="../img/curso1.jpg" alt="">
        </div>
        <div class="informacionPerfil">
            informacion
        </div>
    </div>
    <div class="mainMain">
        <div class="radius">
            <div class="vertical-menu">
                <a href="#" class="active">Home</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
            </div>
        </div>



        <div class="circulo">

                <a href="/users/loginout" class="active">Home</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>

        </div>
    </div>
</div> -->