<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/partHead') %>
</head>
<body>
    <%- include('./partials/header') %> 

    <div class="MainXd">
        <div class="contenedorReg">
            <div class="title">Registrarse</div>
            <form action="/users/register" id="formulario1" method="POST" enctype="multipart/form-data">
                <div class="user-details">
                    <div class="input-box nombre">
                        <span class="details"> Nombre y apellido</span>
                        <input type="text" placeholder="Nombre y apellido" id="nombre" name="nombre">
                        <% if (locals.errors && errors.nombre) { %>
                            <p class="msg-error"><%= errors.nombre.msg%></p>
                          <% } %>
                    </div>

                    <div class="input-box date">
                        <span class="details"> Fecha de nacimiento</span>
                        <input type="date" id="date" placeholder="" name="date">
                        <% if (locals.errors && errors.date) { %>
                        <p class="msg-error"><%= errors.date.msg%></p>
                        <% } %>
                    </div>
                    <div class="input-box email">
                        <span class="details"> Correo electronico</span>
                        <input type="email" placeholder="Correo electronico" id="domicilio" name="email">
                        <% if (locals.errors && errors.email) { %>
                        <p class="msg-error"><%= errors.email.msg%></p>
                        <% } %>
                    </div>
                    <div class="input-box password">
                        <span class="details"> Contraseña</span>
                        <input type="password" placeholder="Contraseña" id="password"  name="password">
                        <% if (locals.errors && errors.password) { %>
                        <p class="msg-error"><%= errors.password.msg%></p>
                        <% } %>
                    </div>
                    <div class="input-box paswword2">
                        <span class="details"> Confirmar contraseña</span>
                        <input type="password" placeholder="Confirmar contraseña" id="password2"  name="password2">
                        <% if (locals.errors && errors.password2) { %>
                        <p class="msg-error"><%= errors.password2.msg%></p>
                        <% } %>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Multiple files input example</label>
                        <input class="form-control" type="file" id="formFileMultiple" multiple>
                    </div> -->
                    <div class="input-box">
                        <span class="details"> Imagen de Perfil</span>
                        <div class="botonimgR">
                            <p>Seleccionar archivo</p>
                        <input id="image" type="file" name="imagen" placeholder="Photo" required="" >
                        </div>
                    </div> 
                </div>

                <div class="buttonRegistrarse">
                    <input type="submit" value="Registrarse">
                </div>

                
            </form>
        </div>
    </div>

    <%- include('./partials/footer') %> 
    <!--<script type="text/javascript" src="../js/register.js"></script>-->

    
</body>

<!--<script>
    function validacion() {
            var formvalido = true;
            var nombre = document.getElementById("nombre").value;
            if (nombre == null || nombre.length == 0) {
                alert("El nombre  no puede estar vacío.");
                formvalido = false;
            }
            var nom = document.getElementById("nombreUsuario").value;
            if (nom == null || nom.length == 0) {
                alert("El nombre de usuario no puede estar vacío.");
                formvalido = false;
            }
            var mail = document.getElementById("domicilio").value;
            if (mail == null || mail < 4) {
                alert("El e-mail no puede estar vacío.")
                formvalido = false;
            }
            var pass = document.getElementById("contraseña").value;
            if (pass == null || pass < 8) {
                alert("La contraseña debe ser mayor a 8 caracteres.")
                formvalido = false;
            }
            
            return formvalido;
        }
</script>-->
</html>